<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>

        <nav class = "navbar bg-white">
            <div class="container">
                <div class = "navbar-content">
                    <div class = "brand-and-toggler">
                        <a href = "/" class = "navbar-brand">
                            <img src = "assets/images/upper.jpg" alt = "" class = "navbar-brand-icon">
                            <span class = "navbar-brand-text">DFLT <span>DATA</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <header class = "header bg-bright" id = "header">
            <div class = "container">
                <div class = "header-content text-center">
                    <h6 class = "text-uppercase text-blue-dark fs-14 fw-6 ls-1"></h6>
                    <h1 class = "lg-title">THIS IS ABOUT DFLT TESTING DATA </h1>
                    <p class = "text-dark fs-18"> try now for free!</p>
                    <a href = "/show_data" class = "btn btn-primary text-uppercase">SEE ALL DATA  </a>
                    <a href = "/search" class = "btn btn-primary text-uppercase">SEARCH FROM DATA </a>
                    <a href = "/add" class = "btn btn-primary text-uppercase">ADD MY DATA </a>
                    <img src = "assets/images/logo.jpg">
                </div>
            </div>
        </header>



        <footer class = "footer bg-dark">
            <div class="container">
                <div class = "footer-content text-center">
                    <p class="fs-15">&copy;Copyright 2023. All Rights Reserved - <span> DFLT DATA</span></p>
                </div>
            </div>
        </footer>
        
    </body>
</html>